# Игнорировать файлы байт-кода Python
*.pyc
__pycache__/

# Игнорировать сгенерированные файлы
*.o
*.so
*.dll
*.exe

# Игнорировать каталоги окружения и виртуальных сред
venv/
env/
env3/
.venv/

# Игнорировать файлы логов и отчетов об ошибках
*.log
*.txt
*.html

# Игнорировать кэшированные файлы
*.swp
*.swo

# Игнорировать временные файлы редактора
*~

# Игнорировать файлы кон
